.container {
  max-width: 830px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  width: 100%;
  text-align: center;
}

button,
.slider {
  margin: 5px;
}

.reversed input {
  direction: rtl;
}

.form-row {
  justify-content: space-between;
}
